* {
    margin: 0;
    padding: 0;    
}
body {
    background: #0a0b0f;    
}
#bordasAnimadas {
    padding: 60px 0;
    /*background: #0a0b0f;*/
}

.card h2,
.card p {
    color: #ffffff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.card {
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.borda1::after, .borda1::before {    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #4ccac4, #3d40e9,#d12eae, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.borda1::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.borda2::after, .borda2::before {    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 60%, #3d40e9, transparent);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.borda2::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.borda3::after, .borda3::before {    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, #efff13, transparent);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin2 linear infinite;
}
.borda3::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes spin2 {
    from {
        --angle: 360deg;
    }
    to {
        --angle: 0deg;
    }
}